<div class="header">
  <a class="namelink" href="/">Chawan Dinesh</a>
  <div class="navbardisplay">{% include navigation.html %}</div>
  <div class="dropdown">
    <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      X
    </button> -->
    <button class="btn btn-info" id="dropdownMenuButton" type="button"  style='background-color: white;color:black;left:-50px;position: relative;border-radius: 45px;'data-toggle="dropdown" data-target="#demo" aria-haspopup="true" aria-expanded="false">CH</button>
    <div  style='width: 20px;' id='dmenu' class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/">Projects</a>
      <a class="dropdown-item" href="/Resume.html">Resume</a>
      <a class="dropdown-item" href="/about.html">About</a>
    </div>
  </div>
  <!--/.Navbar-->
  </div>
  </div>
