<div class="myprofile">
  <img
    class="myProfileImage"
    src="https://avatars0.githubusercontent.com/u/42429566?s=460&v=4"
    alt=""
  />
  <div>
    <div class="name">Chawan Dinesh</div>
    <div class="profession">Software Engineer.</div>
    <div class="location">
      <img
        height="15px"
        width="15px"
        src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_location_on_48px-512.png"
      />
      Bangalore.
    </div>
    <div class="github">
      <img
        style="height: 15px"
        width="15px"
        src="https://image.flaticon.com/icons/png/512/25/25231.png"
        alt=""
      /><a class="githublink" href="https://github.com/chawandinesh"> Github</a>
    </div>

    <div class="email">
      <img
        style="height: 15px"
        width="15px"
        src="https://cdn1.iconfinder.com/data/icons/cv-resume-1/32/3-512.png"
        alt=""
      />
      <a class="emaillink" href="mailto:chavandinesh53@gmail.com">Email</a>
    </div>

    <div class="linkedin">
      <img
        style="height: 15px"
        width="15px"
        src="https://image.flaticon.com/icons/png/512/174/174857.png"
        alt=""
      />
      <a
        class="linkedinlink"
        href="https://www.linkedin.com/in/chawan-dinesh-2879a714a/"
        >LinkedIn</a
      >
    </div>
  </div>
</div>
