<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>{{ page.title }}</title>
  </head>
  <body>
      <div >
          
          <div style="padding-left: 30px;">{{ content }}</div>
      </div>


      <!-- <script>
       
            window.onscroll = function() {
             
              var name = document.getElementsByClassName("name");
              console.log(name)
              
            }
     </script> -->
  </body>
</html>
